.subTitle {
    width: 90%;
    color: white;
    opacity: 0.6;
    font-size: 14px !important;
    margin-bottom:0.5rem !important;
}

.menuFooter{
    height: 70px;
    justify-content: center !important;
    position: absolute !important;
    bottom: 0;
    font-size: 20px;
    letter-spacing: 3px;
    color: #363636 !important;
    text-align: center !important;
}

.bumble-bg{
    background-color: #42ADFF;
}
.profileImage {
    height: 75px;
    width: 75px; 
    border-radius: 50%; 
    border: 3px solid #42ADFF ;
}

@media only screen and (min-height: 400px){
    .nav-image {
    max-height: 35px; 
    max-width: 35px;
    /* border-radius: 50%;  */
    }

}

@media only screen and (max-height: 400px){
    .nav-image {
    max-height: 25px; 
    max-width: 25px;
    /* border-radius: 50%;  */
    }
}


.footer-image {
    max-height: 55px; 
    max-width: 55px;
    padding: 10%;
    border-radius: 50%; 
    border: solid 2px #363636 ;
}

.nav-search{
    max-width: 200px; 
    border-radius: 3%;
}


.mr10{
    margin-left: -10px ;
}

.color-white{
    color: white !important;
}

.color-yellow{
    color: #42ADFF !important;
}

.h-3{
    height: 2px !important;
}

.close-pos{
    margin-left: auto !important;
    margin-right: 10px !important;
}

.cur-pointer{
  cursor: pointer !important;
}
